#container-sobre {
  background-color: rgb(0, 0, 0);
  color: greenyellow;
  min-height: 100vh;
  padding: 5% 10%;
}

#first-text-sobre {
  display: flex;
  flex-direction: column;
}

#images-sobre {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

#images-sobre > img {
  height: 10vw;
}

#bottom-images-sobre {
  display: flex;
}

#infos-sobre {
  display: flex;
  font-size: small;
}
