@media screen and (max-width: 768px) {
  #sobre {
    padding: 10% 5%;
  }

  #first-text-sobre {
    align-items: center;
    text-align: center;
  }

  #images-sobre {
    width: 100%;
    gap: 1em;
    align-items: center;
  }

  .image1-sobre {
    height: 40vw;
    width: 100%;
  }

  #bottom-images-sobre {
    flex-direction: column;
    align-items: center;
  }

  .bottom-pic-sobre {
    width: 80%;
    height: auto;
  }

  .side-icons {
    width: 80%;
    height: 20vh;
    font-size: 3em;
    display: none;
  }

  #infos-sobre {
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    font-size: small;
  }

  .item-sobre {
    width: 90%;
    margin-bottom: 2em;
  }

  .side-icons:hover .tooltip {
    font-size: 14px;
    margin: 0 5%;
  }
}

@media screen and (max-width: 480px) {
  .side-icons {
    height: 15vh;
    font-size: 2.5em;
  }

  .side-icons:hover .tooltip {
    font-size: 12px;
  }

  .image1-sobre {
    height: 50vw;
  }

  .bottom-pic-sobre {
    width: 90%;
  }
}
