.highlight {
  background-color: #121212;
  color: #ffffff;
  text-align: left;
  min-height: 100vh;
  border-bottom: 1px solid white;
}

.highlight-content {
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: fit-content;
  margin-left: 5vw;
}

.highlight-content h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.highlight-content p {
  flex: 1;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  line-height: 1.5;
  text-align: justify;
}

.highlight-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-bottom: 20px;
  margin-left: 1vw;
}

.container-image-highlight {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.container-image-highlight h1 {
  font-size: 35px;
}

.highlight-content i {
  color: #94e148;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.highlight-content i:hover {
  border-color: #ffffff;
}

.highlight-content a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container-image-highlight {
    flex-direction: column;
    gap: 0;
  }

  .highlight-content p {
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 10vh;
  }
}
